* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0.25turn, white, gray);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  background-image: linear-gradient(grey, purple);
  font-family: Bebas Neue, sans-serif;
  letter-spacing: 1rem;
  position: sticky;
  top: 0;

  .dropdown ul {
    display: none;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(220, 133, 255, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 0 26px 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    position: absolute;
    right: 2rem;
    top: 7rem;

    a {
      text-decoration: none;

      &:hover {
        color: black;
      }

      &:active {
        text-decoration: underline;
      }
    }
  }

  &:has([type="checkbox"]:checked) .dropdown ul {
    display: inline-block;
  }

  #my-dropdown {
    display: none;
  }

  .nav {
    display: none;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(236, 158, 255, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem;
  }

  a {
    color: white;
  }
  i {
    font-size: 2rem;
  }
}

main {
  margin-top: 1rem;
  font-family: Kanit, sans-serif;
  letter-spacing: 0.1rem;
  .content {
    width: 20rem;
    margin: auto;
    text-align: center;
  }

  .products {
    display: grid;
    justify-content: center;

    .product {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 15rem;
      margin-top: 2rem;
      border-radius: 0.5rem;
      box-shadow: 8px 5px 5px purple;
      overflow: hidden;

      #heart-checkbox,
      #heart-checkbox2,
      #heart-checkbox3,
      #heart-checkbox4,
      #heart-checkbox5,
      #heart-checkbox6,
      #heart-checkbox7,
      #heart-checkbox8,
      #heart-checkbox9,
      #heart-checkbox10,
      #heart-checkbox11,
      #heart-checkbox12,
      #heart-checkbox13,
      #heart-checkbox14 {
        display: none;
      }

      .second-heart {
        display: none;
      }

      &:has([type="checkbox"]:checked) .first-heart {
        display: none;
      }

      &:has([type="checkbox"]:checked) .second-heart {
        display: inline-block;
      }

      &:hover {
        box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.767);
        outline: 5px solid black;
      }

      .image {
        background-position: center;
        background-size: cover;
        height: 15rem;
        display: flex;
        justify-content: end;
        padding: 1rem;
      }

      .text {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        background-color: white;

        i {
          color: black;
        }
      }
      .price {
        text-align: center;
        background-color: white;
        width: 100%;
        border-top: 1px solid lightgray;
      }

      a {
        text-decoration: none;
      }

      .add-to-cart {
        text-align: center;
        background-color: gray;
        width: 100%;
        color: white;

        i {
          color: white;
        }
      }
    }
    .image-1 {
      background-image: url(./pics/1.jpg);
    }

    .image-2 {
      background-image: url(./pics/2.jpg);
    }

    .image-3 {
      background-image: url(./pics/3.jpg);
    }

    .image-4 {
      background-image: url(./pics/4.jpg);
    }

    .image-5 {
      background-image: url(./pics/5.jpg);
    }

    .image-6 {
      background-image: url(./pics/6.jpg);
    }

    .image-7 {
      background-image: url(./pics/7.jpg);
    }

    .image-8 {
      background-image: url(./pics/8.jpg);
    }

    .image-9 {
      background-image: url(./pics/9.jpg);
    }

    .image-10 {
      background-image: url(./pics/10.jpg);
    }

    .image-11 {
      background-image: url(./pics/11.jpg);
    }

    .image-12 {
      background-image: url(./pics/12.jpg);
    }

    .image-13 {
      background-image: url(./pics/13.jpg);
    }

    .image-14 {
      background-image: url(./pics/14.jpg);
    }

    .product-coming-soon{
      box-shadow: none;
      
      &:hover{
        outline:none;
        box-shadow: none;
      }
    }

    .coming-soon.coming-soon {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1rem;

      .coming-soon-circle {
        font-size: 5rem;
        animation-name: circle;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }

    
  }
}
aside {
  .to-the-top {
    position: fixed;
    bottom: 10rem;
    right: 0.25rem;
    background-image: linear-gradient(gray, purple, gray);
    border-radius: 0.25rem;
    border: 3px solid white;
    padding: 0.25rem;
    outline: 1px solid black;
    font-family: Kanit, sans-serif;
    width: 3rem;
    text-align: center;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: rgb(0, 0, 0);
      }

      &:active {
        text-decoration: underline;
      }
    }
  }
}

footer {
  background-image: linear-gradient(0.25turn, gray, purple);
  color: white;
  font-family: Kanit, sans-serif;
  text-align: center;
  margin-top: 2rem;

  .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid gray;
  }

  .contact {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: rgb(0, 0, 0);
      }

      &:active {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 600px) {
  header {
    padding: 3rem;
    font-size: 2rem;
    i {
      font-size: 3rem;
    }
  }

  aside {
    .to-the-top {
      padding: 2rem;
      width: 7rem;
      font-size: 1.5rem;
    }
  }

  footer {
    font-size: 2rem;
    .icons {
      gap: 3rem;
    }
    .contact {
      justify-content: space-around;
    }
  }
}

@media (min-width: 800px) {
  header {
    .dropdown {
      display: none;
    }

    .nav {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      gap: 0.5rem;

      a {
        text-decoration: none;

        &:hover {
          color: black;
        }

        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  main {
    .content {
      width: 50rem;
      font-size: 2rem;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 2rem 0;
    }
  }
}

@media (min-width: 1000px) {
  header {
    .nav {
      flex-direction: row;
      gap: 2rem;
    }
  }
}

@keyframes circle{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
